@import url('/fonts/fonts.css');
@import 'tailwindcss';

@theme {
  --font-suit: 'SUIT', ui-sans-serif, system-ui, sans-serif;

  --color-*: initial;

  --text-5xl: 30px;
  --text-4xl: 26px;
  --text-3xl: 24px;
  --text-2xl: 22px;
  --text-xl: 20px;
  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-xxs: 10px;

  --leading-xxl: 30px;
  --leading-xl: 26px;
  --leading-l: 24px;
  --leading-m: 22px;
  --leading-s: 20px;
  --leading-xs: 18px;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-050: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #222222;
  --color-gray-950: #181818;

  --color-red-050: #ffebec;
  --color-red-100: #ffddd3;
  --color-red-200: #ffa5aa;
  --color-red-300: #ff7a83;
  --color-red-350: #ff6671;
  --color-red-400: #f5515c;
  --color-red-500: #dd3742;
  --color-red-600: #cf2934;
  --color-red-700: #b61620;
  --color-red-800: #8e0811;
  --color-red-900: #700008;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html,
  body {
    @apply mx-auto h-screen max-w-[430px];
    font-family: var(--font-suit);
    background-color: var(--color-gray-900);
    color: var(--color-white);
  }
}

@layer utilities {
  .font-suit {
    font-family: var(--font-suit);
  }
@layer utilities {
  .text-yellow-figma {
    color: #FFC342;
  }
}

  /* * 타이포그래피 
   * 텍스트 스타일 정의
   */
  .text-title-1 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-extrabold);
    font-size: var(--text-3xl);
    line-height: var(--leading-xxl);
  }

  .text-title-2 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
  }

  .text-title-3 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-md);
    line-height: var(--leading-l);
  }

  .text-title-4 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-sm);
    line-height: var(--leading-m);
  }

  .text-body-1 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    line-height: var(--leading-m);
  }

  .text-body-2 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-sm);
    line-height: var(--leading-m);
  }

  .text-caption-1 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xs);
    line-height: var(--leading-s);
  }

  .text-caption-2 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xs);
    line-height: var(--leading-s);
  }

  .text-caption-3 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-xs);
    line-height: var(--leading-s);
  }

  .text-caption-4 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xxs);
    line-height: var(--leading-xs);
  }

  /* 텍스트 색상 */
  .btn-text-black {
    color: var(--color-black);
  }
  .text-black {
    color: var(--color-black);
  }

  .btn-text-white {
    color: var(--color-white);
  }
  .text-white {
    color: var(--color-white);
  }

  .btn-text-red-300 {
    color: var(--color-red-300);
  }
  .text-red-300 {
    color: var(--color-red-300);
  }

  .btn-text-red-400 {
    color: var(--color-red-400);
  }
  .text-red-400 {
    color: var(--color-red-400);
  }

  .btn-text-red-500 {
    color: var(--color-red-500);
  }
  .text-red-500 {
    color: var(--color-red-500);
  }

  .btn-text-red-700 {
    color: var(--color-red-700);
  }
  .text-red-700 {
    color: var(--color-red-700);
  }

  .btn-text-gray-300 {
    color: var(--color-gray-300);
  }
  .text-gray-300 {
    color: var(--color-gray-300);
  }

  .btn-text-gray-400 {
    color: var(--color-gray-400);
  }
  .text-gray-400 {
    color: var(--color-gray-400);
  }

  .btn-text-gray-500 {
    color: var(--color-gray-500);
  }
  .text-gray-500 {
    color: var(--color-gray-500);
  }

  .btn-text-gray-700 {
    color: var(--color-gray-700);
  }
  .text-gray-700 {
    color: var(--color-gray-700);
  }

  /* 배경 색상 */
  .bg-black {
    background-color: var(--color-black);
  }
  .bg-white {
    background-color: var(--color-white);
  }

  .bg-gray-500 {
    background-color: var(--color-gray-500);
  }
  .bg-gray-600 {
    background-color: var(--color-gray-600);
  }
  .bg-gray-700 {
    background-color: var(--color-gray-700);
  }
  .bg-gray-800 {
    background-color: var(--color-gray-800);
  }

  .bg-red-300 {
    background-color: var(--color-red-300);
  }

  .bg-red-400 {
    background-color: var(--color-red-400);
  }
  .bg-red-500 {
    background-color: var(--color-red-500);
  }

  /* border 색상 */
  .border-red-500 {
    border-color: var(--color-red-500);
  }
  .border-gray-400 {
    border-color: var(--color-gray-400);
  }
  .border-gray-500 {
    border-color: var(--color-gray-500);
  }
  .border-gray-800 {
    border-color: var(--color-gray-800);
  }
}
