@import url('/fonts/fonts.css');
@import 'tailwindcss';

@theme {
  --font-suit: 'SUIT', ui-sans-serif, system-ui, sans-serif;

  --color-*: initial;

  --text-6xl: 40px;
  --text-5xl: 30px;
  --text-4xl: 26px;
  --text-3xl: 24px;
  --text-2xl: 22px;
  --text-xl: 20px;
  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-xxs: 10px;

  --leading-3xl: 44px;
  --leading-2xl: 30px;
  --leading-xl: 26px;
  --leading-l: 24px;
  --leading-m: 22px;
  --leading-s: 20px;
  --leading-xs: 18px;

  --radius-s: 2px; /* Radius S */
  --radius-m: 8px; /* Radius M */
  --radius-l: 12px; /* Radius L */
  --radius-full: 99px; /* Radius Round */

  --color-black: #000000;
  --color-white: #ffffff; /* Text 1 & Stroke 7 */

  --color-gray-050: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0; /* Text 2 */
  --color-gray-400: #bdbdbd; /* BG 6 */
  --color-gray-500: #9e9e9e; /* Text 3 & Stroke 4 */
  --color-gray-600: #757575; /* BG 4 */
  --color-gray-700: #616161; /* Text 4 */
  --color-gray-800: #424242; /* BG 2  & Stroke 5 */
  --color-gray-900: #222222; /* BG 1  $ Stroke 6 */
  --color-gray-950: #181818; /* BG 3  & Text 5 */

  --color-red-050: #ffebec;
  --color-red-100: #ffddd3;
  --color-red-200: #ffa5aa;
  --color-red-300: #ff7a83; /* Brand/Primary Light & Text 6 & Stroke 3 */
  --color-red-350: #ff6671;
  --color-red-400: #f5515c; /* Brand/Primary & Text 7 & Stroke 1 */
  --color-red-500: #dd3742; /* Brand/Primary Dark & BG 5 & Text 8 & Stroke 2  */
  --color-red-600: #cf2934;
  --color-red-700: #b61620;
  --color-red-800: #8e0811;
  --color-red-900: #700008;

  --color-seat5-default: #4ce4af; /* Seat5 Default & Action */
  --color-seat5-hover: #c7ffeb; /* Seat5 Hover */

  --color-kakao: #fee500; /* Kakao/bg */
  --color-naver: #03c75a; /* Naver/bg */

  --color-yellow-warn: #ffc342;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html,
  body {
    @apply mx-auto h-screen max-w-[430px];
    font-family: var(--font-suit);
    background-color: var(--color-gray-900);
    color: var(--color-white);
    scrollbar-gutter: stable;
  }
}

@layer utilities {
  .font-suit {
    font-family: var(--font-suit);
  }

  /* * 타이포그래피 
   * 텍스트 스타일 정의
   */
  .text-title-0 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-extrabold);
    font-size: var(--text-6xl);
    line-height: var(--leading-3xl);
  }

  .text-title-1 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-extrabold);
    font-size: var(--text-3xl);
    line-height: var(--leading-2xl);
  }

  .text-title-2 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
  }

  .text-title-3 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-md);
    line-height: var(--leading-l);
  }

  .text-title-4 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-sm);
    line-height: var(--leading-m);
  }

  .text-body-1 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm);
    line-height: var(--leading-m);
  }

  .text-body-2 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-sm);
    line-height: var(--leading-m);
  }

  .text-caption-1 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-bold);
    font-size: var(--text-xs);
    line-height: var(--leading-s);
  }

  .text-caption-2 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xs);
    line-height: var(--leading-s);
  }

  .text-caption-3 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-xs);
    line-height: var(--leading-s);
  }

  .text-caption-4 {
    font-family: var(--font-suit);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xxs);
    line-height: var(--leading-xs);
  }

  /* 텍스트 색상 */
  .btn-text-black {
    color: var(--color-black);
  }
  .text-black {
    color: var(--color-black);
  }

  .btn-text-white {
    color: var(--color-white);
  }
  .text-white {
    color: var(--color-white);
  }

  .btn-text-red-300 {
    color: var(--color-red-300);
  }
  .text-red-300 {
    color: var(--color-red-300);
  }

  .btn-text-red-400 {
    color: var(--color-red-400);
  }
  .text-red-400 {
    color: var(--color-red-400);
  }

  .btn-text-red-500 {
    color: var(--color-red-500);
  }
  .text-red-500 {
    color: var(--color-red-500);
  }

  .btn-text-red-700 {
    color: var(--color-red-700);
  }
  .text-red-700 {
    color: var(--color-red-700);
  }

  .btn-text-gray-300 {
    color: var(--color-gray-300);
  }
  .text-gray-300 {
    color: var(--color-gray-300);
  }

  .btn-text-gray-400 {
    color: var(--color-gray-400);
  }
  .text-gray-400 {
    color: var(--color-gray-400);
  }

  .btn-text-gray-500 {
    color: var(--color-gray-500);
  }
  .text-gray-500 {
    color: var(--color-gray-500);
  }

  .btn-text-gray-700 {
    color: var(--color-gray-700);
  }
  .text-gray-700 {
    color: var(--color-gray-700);
  }
  .text-gray-500 {
    color: var(--gray-500);
  }

  .text-yellow-warn {
    color: var(--color-yellow-warn);
  }

  /* 배경 색상 */
  .bg-black {
    background-color: var(--color-black);
  }
  .bg-white {
    background-color: var(--color-white);
  }

  .bg-gray-500 {
    background-color: var(--color-gray-500);
  }
  .bg-gray-600 {
    background-color: var(--color-gray-600);
  }
  .bg-gray-700 {
    background-color: var(--color-gray-700);
  }
  .bg-gray-800 {
    background-color: var(--color-gray-800);
  }
  .bg-gray-900 {
    background-color: var(--color-gray-900);
  }
  .bg-gray-950 {
    background-color: var(--color-gray-950);
  }

  .bg-red-300 {
    background-color: var(--color-red-300);
  }

  .bg-red-400 {
    background-color: var(--color-red-400);
  }
  .bg-red-500 {
    background-color: var(--color-red-500);
  }

  .bg-mint-default {
    background-color: var(--color-seat5-default);
  }
  .bg-mint-hover {
    background-color: var(--color-seat5-hover);
  }

  .bg-kakao {
    background-color: var(--color-kakao);
  }
  .bg-naver {
    background-color: var(--color-naver);
  }

  /* border 색상 */
  .border-red-500 {
    border-color: var(--color-red-500);
  }
  .border-gray-400 {
    border-color: var(--color-gray-400);
  }
  .border-gray-500 {
    border-color: var(--color-gray-500);
  }
  .border-gray-500 {
    border-color: var(--color-gray-500);
  }
  .border-gray-800 {
    border-color: var(--color-gray-800);
  }

  /* radius */
  .rounded-s {
    border-radius: var(--radius-s); /* Radius S (2px) */
  }

  .rounded-m {
    border-radius: var(--radius-m); /* Radius M (8px) */
  }

  .rounded-l {
    border-radius: var(--radius-l); /* Radius L (12px) */
  }

  .rounded-full {
    border-radius: var(--radius-full); /* Radius Round (99px) */
  }

  /* 스크롤바를 숨기는 유틸리티 클래스 */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
